<html>
<head>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="icon" href="fox.ico" />
</head>
<body class="cwm-main">
{{ content }}

 <!-- Page Header Snippet -->
 <header class="cwm-cnt-pageheader">
  <div class="cwm-ph-heading">Carrum Downs Cricket Club Incorporated</div>
   <div class="cwm-ph-cnt-flex">
    <div class="cwm-phflex-itema">
     <div>ABN: 87 009 269 277</div>
     <div>Incorporation Id: A0006628C</div>
     <div>Website: <a href="https://CarrumDownsCC.com.au/" target="_blank">https://CarrumDownsCC.com.au</a></div>
    </div>
    <div class="cwm-phflex-itemb">
     <div>P.O. Box 8283</div>
     <div>Carrum Downs VIC 3201</div>
     <div>Email: <a href="mailto:CarrumDowns@club.cricketvictoria.com.au">CarrumDowns@club.cricketvictoria.com.au</a></div>
    </div>
   </div>
 </header>
 <!-- End Page Header Snippet -->

<!-- Main Tag -->
<main class="cwm-main">

  <h1 class="cwm-h1">{{ page.title }}</h1>

  <!-- Schedule Wrapper -->
  <section>
    <div style="display:flex;flex-wrap: wrap;justify-content: center;font-size: larger;background: honeydew;">
      <div style="padding:0px 1px;">Scheduled on </div>
      <div style="padding:0px 5px;"><time datetime="2021-08-10 19:30">Tuesday, 10<sup>th</sup> August, 2021</time></div>
      <div style="padding:0px 5px;"> from 7:30pm</div>
      <div style="padding:0px 5px;"> at Zoom Online </div>
    </div>

    <div style="display:flex;flex-wrap: wrap;justify-content: space-around;background:lemonchiffon;">
      <div>
        <div style="display:flex;flex-wrap: wrap;justify-content: center;">
          <div style="padding:0px 1px;">Chaired by: </div>
          <div style="padding:0px 1px;">Russell Blackburn</div>
        </div>
      </div>
      <div>
        <div style="display:flex;flex-wrap: wrap;justify-content: center;">
          <div style="padding:0px 1px;">Minutes Taken by: </div>
          <div style="padding:0px 1px;">Steven White</div>
        </div>
      </div>
    </div>

   <div style="display:flex;flex-wrap: wrap;justify-content: space-around;background:lavender;">
    <div>Meeting Commenced: <time>7:35pm</time></div>
	<div>Meeting Closed: <time>9:00pm</time></div>
   </div>
  </section>

  <!-- Meeting Items Section -->
  <section class="cwm-cnt-items w3-container">

    <!-- General Meeting Item - Article -->
    <article class="w3-container cwm-item">
      <div class="w3-card-4 cwm-card">
        <header class="w3-container cwm-item-general">
          <h2 class="cwm-h2">Hoodies and Apparel</h2>
          <div class="cwm-time"><time>8:52pm</time></div>
        </header>
        <!-- Submission -->
        <div class="cwm-submit">
          <div style="margin-left:4px;">Raised By: Russell Blackburn</div>
          <div class="by2"></div>
        </div>
        <!-- End Submission -->

        <!-- Discussion -->
        <div class="w3-container cwm-discuss"><p>Do we need to order some hoodies? 10 is minimum order. We have less than 10 currently on-hand of various sizes. Will we shift another 10 this season? Not sure.<br>
We're also maybe loking at a new supplier this season, too.<br>
What if we just order them by 2s? And remove our profit from the transaction? I don't think it costs us to order less than minimum, only reduces our profit.</p></div>

        <footer class="w3-container cwm-footer cwm-item-general">&nbsp;</footer>
      </div>
    </article>


  </section>
  <!-- Meeting Items Section -->

  <!-- Footer of Main Section. This allows to hide this if multiple minutes are shown together. -->
  <footer>
    <h1 class="cwm-h1">End Minutes</h1>
    <h4 class="cwm-h1">
      <div>Next Meeting:</div>
      <div>7:30pm</div>
	  <div>Tuesday, 14<sup>th</sup> September, 2021</div>
	  <div>at either Zoom or Len Phelps Pavilion</div>
    </h4>
  </footer>
</main>

</body>
</html>

